body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 1800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

/* Styles pour les images */
figure {
  margin: 20px 0;
}

img {
  width: 55%; /* Largeur fixe en pixels */
  height: auto; /* Garde le rapport hauteur/largeur original */
  display: block;
  margin: 0 auto; /* Centrer les images */
}

figcaption {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
  color: #555;
}
